/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/*unknown*/
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/*Remove all previous text effects*/
/*---------------------------------------*/
a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}
/*---------------------------------------*/


/*General site settings*/
/*---------------------------------------*/
html {
    position: relative;
    min-height: 100%;
    
}

.total {
    background-image: url('../img/download.jpg') !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
/*---------------------------------------*/


/*Navbar*/
/*---------------------------------------*/
.navbar {
    background-color: rgba(0,0,0,0.2) !important;
    color: white;
    border: none !important;
}

.navbar-brand {
    font-size: 20px !important;
    font-weight: bold !important;
    font-family: Palatino Linotype !important;
    color: white !important;
    font-style: oblique;
}

.navbar-brand:hover {
    color: red;
}

.nav-link {
    color: #969799 !important;
    font-weight: bold;
}

.navbar-nav li:hover {
    border-left: 3px solid #0099ff;
    background-color: #312e2b;
}
/*---------------------------------------*/


/*Body*/
/*---------------------------------------*/
body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
    background-color: #312e2b !important;
    text-decoration: none;
}
/*---------------------------------------*/


/*Footer*/
/*---------------------------------------*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: rgba(0,0,0,0.2) !important;
    border: none !important;
}
/*---------------------------------------*/



/* Dropdown content (hidden by default) */
/*---------------------------------------*/
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: #262421;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    border-left: 3px solid #0099ff;
    background-color: #312e2b;
}

/* Show the dropdown menu on hover */
.nav-item:hover .dropdown-content {
    display: block;
    text-decoration: none;
}
/*---------------------------------------*/