<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @{
        ViewData["Title"] = "Dewetvancoulomb";
    }
    <title>Studie</title>
    <link href="~/css/Studypage.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="row">
        <div class="col">
            <div class="link-box vierde">
                <a asp-area="" asp-controller="Dewetvancoulomb" asp-action="Theorie"> Uitleg bij de theorie</a>
            </div>
        </div>
        <div class="col">
            <div class="link-box vierde">
                <a asp-area="" asp-controller="Dewetvancoulomb" asp-action="Grootheden"> Oefenen op de grootheden</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="link-box vierde">
                <a asp-area="" asp-controller="Dewetvancoulomb" asp-action="Krachtvectoren"> Oefenen op krachtvectoren</a>
            </div>
        </div>
        <div class="col">
            <div class="link-box vierde">
                <a asp-area="" asp-controller="Dewetvancoulomb" asp-action="Formule"> Oefenen op de formule</a>
            </div>
        </div>
    </div>
</body>
</html>
