@section Styles {
    <link rel="stylesheet" href="~/css/studie.css" />
}
@{
    ViewData["Title"] = "Studie";
}
<title>Studie</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<div class="schooljaar">
    <h2>Vijfde middelbaar</h2>
    <h2>Vijfde middelbaar</h2>
    <a asp-area="" asp-controller="Home" asp-action="Coaching"> De eenparig rechtlijnige beweging</a>
    <div class="row">
        <div class="col">
            <a class="geenlinkaub" asp-area="" asp-controller="Home" asp-action="Coaching"> De eenparig rechtlijnige beweging</a>
        </div>
        <div class="col">
            <a asp-area="" asp-controller="Home" asp-action="Index"> Behoud energie</a>
        </div>
    </div>
</div>