@{
    ViewData["Title"] = "Studie";
}
<title>Studie</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<div class="schooljaar">
    <div class="subsection-titel">
        <h2>Vijfde middelbaar</h2>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Coaching"> De eenparig rechtlijnige beweging</a>
    <div class="row">
        <div class="col">
            <div class="link-box">
                <a asp-area="" asp-controller="Home" asp-action="Coaching"> De eenparig rechtlijnige beweging</a>
            </div>
        </div>
        <div class="col">
            <div class="link-box">
                <a asp-area="" asp-controller="Home" asp-action="Index"> Behoud energie</a>
            </div>
        </div>
</div>